@model EBSM.Entities.MobileBanking

@{
    ViewBag.Title = "Edit Mobile Banking";
}


@using (Html.BeginForm("EditMobileAccount", "BankAccount", null, FormMethod.Post, new { @id = "EditMobileAccount" }))
{
    @Html.AntiForgeryToken()

  <div class="row">
  	<div class="col-md-10 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2><i class="fa fa-pencil"></i> Edit Mobile Banking Account</h2>
                    <ul class="nav navbar-right panel_toolbox">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="Settings"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href='@Url.Action("Index","Customer")'>Customers</a>
                                </li>
                                <li>
                                    <a href='@Url.Action("Index","WarehouseZone")'>Product Transfer</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="collapse-link" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
       
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(x=>x.AccountId)
                   
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountName, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control input-sm", placeholder = "Account Name" })
                            @Html.ValidationMessageFor(model => model.AccountName)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountNumber, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.AccountNumber, new { @class = "form-control input-sm", placeholder = "Account Number" })
                            @Html.ValidationMessageFor(model => model.AccountNumber)

                        </div>
                                              
                        <div class="form-group">
                            @Html.LabelFor(model => model.AccountOwner, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.AccountOwner, new { @class = "form-control input-sm", placeholder = "Account Owner" })
                            @Html.ValidationMessageFor(model => model.AccountOwner)
                        </div>
                      
                    <div class="hidden form-group">
                        @Html.LabelFor(model => model.Balance, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Balance, new { @class = "form-control input-sm", placeholder = "Balance" })
                        @Html.ValidationMessageFor(model => model.Balance)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Status, new { @class = "control-label" })
                        <div class="col-md-12">
                            <div class="radio radio-inline">
                                <label>@Html.RadioButtonFor(model => model.Status, "1", new { @class = "" }) Enabled</label>
                            </div>
                            <div class="radio radio-inline">
                                <label>@Html.RadioButtonFor(model => model.Status, "0", new { @class = "" }) Disabled</label>
                            </div>

                            @Html.ValidationMessageFor(model => model.Status)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-info" />
                            &nbsp;&nbsp;

                            &nbsp;&nbsp;@Html.ActionLink("Cancel", "Index", "BankAccount", null, new { @class = "btn btn-default" })

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
@*//=======================================================================================//
    //Author : Md. Mahid Choudhury
    //Creation Date : January 2017
    //=======================================================================================//*@