@model WarehouseApp.Models.ViewModels.AttributeSearchViewModel
@using PagedList.Mvc
@{
    ViewBag.Title = "Attribute List";

}
@Styles.Render("~/Content/PagedList")
<div class="row ">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <i class="fa fa-list"></i> Product Attribute List
                <ul class="nav navbar-right panel_toolbox">
                    <li><a href='@Url.Action("NewProductAttribute", "ProductAttribute")' data-id="0" class="" title="Add New"><i class="fa fa-plus-square fa-lg"></i> </a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" title="Settings" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href='@Url.Action("AttributeSetList", "ProductAttribute")'>Attribute Sets</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="collapse-link" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                
                    <div class="form-horizontal">

                        <div class="form-group">
                            @using (Html.BeginForm("ListArrtibuteType", "ProductAttribute", FormMethod.Post, new { @class = "", @id = "attributeSearchForm" }))
                            {
                                <div class="col-lg-2 paddingReduce">
                                    @Html.Label("Page Size", new { @class = "col-lg-8 pageSizeLabel" })
                                    <div class="col-lg-4 paddingReduce">
                                        @Html.DropDownListFor(model => model.PageSize, new SelectList(new Dictionary<string, int> { { "25", 25 }, { "50", 50 }, { "100", 100 } }, "Key", "Value", null), new { @class = "pageSizeDropdown", id = "pageSizelist" })

                                    </div>
                                </div>

                                <div class="col-lg-2 paddingReduce">
                                    @Html.TextBoxFor(model => model.AttName, new { @class = "form-control input-sm", @placeholder = "Attribute Name" })
                                </div>
                                <div class="col-lg-1 paddingReduce">
                                    <button type="submit" class="btn btn-sm btn-success">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>


                                </div>
                            }
                        </div>
                    </div>
                    <table class="table table-striped table-condensed table-responsive jambo_table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Attributes.First().AttributeName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Attributes.First().AttributeType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Attributes.First().Values)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Attributes.First().DefaultValue)
                                </th>


                                <th>@Html.DisplayNameFor(model => model.Attributes.First().Status)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Attributes)
                            {
                                <tr class="@(@item.Status==0 ? "text-muted" : " ")">
                                    <td>@Html.DisplayFor(modelItem => item.AttributeName)</td>

                                    <td>@Html.DisplayFor(modelItem => item.AttributeType)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Values)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DefaultValue)</td>


                                    <td>
                                        @{
                                if (item.Status != 0)
                                {
                                    @Html.DisplayName("Enabled")
                                }
                                else
                                {
                                    @Html.DisplayName("Disabled")

                                }
                                        }

                                    </td>
                                    <td>
                                        @Html.ActionLink(" Edit", "EditProductAttribute", "ProductAttribute", new { id = item.AttributeId }, new { @class = "btn btn-xs btn-primary fa fa-pencil", @title = "Edit" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    Page @(Model.Attributes.PageCount < Model.Attributes.PageNumber ? 0 : Model.Attributes.PageNumber) of @Model.Attributes.PageCount
                    @Html.PagedListPager(Model.Attributes, Page => Url.Action("ListArrtibuteType", "ProductAttribute", new RouteValueDictionary() { { "Page", Page }, { "PageSize", Model.PageSize }, { "AttName", Model.AttName } }))



                </div></div></div>

            </div>


            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")



                <script>
                    $(document).ready(function () {
                        $('#pageSizelist').change(function () {
                            $('#attributeSearchForm').submit();
                        });
                    });

                </script>
            }

            @*//=======================================================================================//
                //Author : Md. Mahid Choudhury
                //Creation Date : January 2017
                //=======================================================================================//*@
