
@using WarehouseApp.Controllers
@model WarehouseApp.Models.Return

@{
    ViewBag.Title = "Details";
    int itemCount = 1;
}
<style>
   

    .tital {
        font-size: 16px;
        font-weight: 500;
    }

    .bot-border {
        border-bottom: 1px #f8f8f8 solid;
        margin: 5px 0 5px 0;
    }
</style>
<div class="col-md-11 ">
    <div class="panel panel-default">
        <div class="panel-heading"> <i class="fa fa-info-circle fa-lg"> </i> Return Details 
          
         @Html.ActionLink(" Back", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-sm btn-default fa fa-arrow-circle-left  pull-right" })</div>
        <div class="panel-body">
            
            <div class="">

                <div class="col-md-6">
                   
                    <div class="col-sm-5 col-xs-6 tital ">Invoice Number:</div><div class="col-sm-7 col-xs-6 ">@Model.Invoice.InvoiceNumber</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    <div class="col-sm-5 col-xs-6 tital ">Return Date:</div><div class="col-sm-7"> @Convert.ToDateTime(Model.CreatedDate).ToString("dd-MM-yyyy hh:mm tt")</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    
                    <!-- /.box-body -->
                </div>
                <div class="col-md-6">
                    <div class="col-sm-5 col-xs-6 tital ">Project:</div><div class="col-sm-7">
                        @if (Model.Invoice.Customer != null)
                        {
                            <a href='@Url.Action("Details","Customer", new{id=@Model.Invoice.Customer.CustomerId})'>@Model.Invoice.Customer.FullName</a>
                        }
                    </div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>
                    @{
                        string address = "";
                        if (Model.Invoice.Customer != null)
                        {
                            address = Model.Invoice.CustomerBranchId != null ? Model.Invoice.CustomerBranch.ProjectName + ", " + Model.Invoice.CustomerBranch.ProjectAddress : Model.Invoice.Customer.Address.Trim(',', ' ');
                    }}
                    <div class="col-sm-5 col-xs-6 tital ">Address:</div><div class="col-sm-7">@address</div>
                    <div class="clearfix"></div>
                    <div class="bot-border"></div>


                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <table class="table table-bordered table-condensed table-responsive table-striped">
                
              
                    <thead >
                        <tr>
                            <th>SL</th>
                            <th>Item Code</th>
                            <th>Item</th>
                            <th>Customer Item Code</th>
                            <th>Unit Price</th>
                            <th>Return Qty</th>
                            <th>Return Amount</th>
                       
                        </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ReturnProducts)
                    { string customerCode = item.Product.CustomerOptions.Any(x => x.CustomerId == Model.Invoice.CustomerId) ? item.Product.CustomerOptions.FirstOrDefault(x => x.CustomerId == Model.Invoice.CustomerId).ProductCode : "";
                     string customerProductName = item.Product.CustomerOptions.Any(x => x.CustomerId == Model.Invoice.CustomerId) ? item.Product.CustomerOptions.FirstOrDefault(x => x.CustomerId == Model.Invoice.CustomerId).ProductDescription :"";
                     string peoductFullName = !string.IsNullOrEmpty(customerProductName) ? customerProductName : item.Product.ProductFullName;
                        <tr>
                            <td width="3%">@itemCount</td>
                            <td class="col-md-1">@item.Product.ProductCode</td>
                            <td class="col-md-3">@peoductFullName</td>
                            <td class="col-md-1">@customerCode</td>
                            <td class="col-md-1">@item.UnitPrice</td>
                            <td class="col-md-1">@item.Quantity</td>
                            <td class="col-md-1">@item.TotalPrice</td>
                        </tr>
                        itemCount++;
                    }
                </tbody>
                <tfoot>
                    <tr>

                        <th colspan="5"><span class="pull-right">Total</span></th>
                        <th>@Model.TotalQuantity</th>
                        <th>@Model.TotalPrice</th>

                    </tr>
                    

                 
                </tfoot>
                           </table>
            <p class="help-block">
                @if (@Model.CreatedDate != null)
                {
                    <div class="col-md-6">
                        <i class="fa fa-user"></i> Created: <a href="#">@Model.CreateUser.UserName</a>
                        | <i class="fa fa-calendar"></i> @Convert.ToDateTime(Model.CreatedDate).ToString("dd-MM-yyyy hh:mm tt")
                    </div>
                }
                @if (@Model.UpdatedDate != null)
                {
                    <div class="col-md-6">
                        <i class="fa fa-user"></i> Updated: <a href="#">@Model.UpdateUser.UserName</a>
                        | <i class="fa fa-calendar"></i> @Convert.ToDateTime(Model.UpdatedDate).ToString("dd-MM-yyyy hh:mm tt")
                    </div>
                }
            </p>
        </div>
    </div>
</div>


<script>
    $(function () {
        $('#profile-image1').on('click', function () {
            $('#profile-image-upload').click();
        });
    });
</script>

@*//=======================================================================================//
    //Author : Md. Mahid Choudhury
    //Creation Date : January 2017
    //=======================================================================================//*@
