@using System.IdentityModel.Protocols.WSTrust
@using PagedList.Mvc
@using WarehouseApp.Controllers

@model WarehouseApp.Models.ViewModels.SalesOrderSearchViewModel

@{
    ViewBag.Title = "Sales Orders";
    var statusDict= new Dictionary<byte,string> { {0, "Disabled" }, { 1,"Pending" }, { 2,"Delivered" } };
   
}
@Styles.Render("~/Content/PagedList")
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <i class="fa fa-list"></i> Sales Orders
                <ul class="nav navbar-right panel_toolbox">
                    <li><a href='@Url.Action("NewSalesOrder", "SalesOrder")' data-id="0" class="" title="Add New"><i class="fa fa-plus-square fa-lg"></i> </a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" title="Settings" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href='@Url.Action("Index","Product")'>Products</a></li>
                            <li><a href='@Url.Action("Index","Batch")'>Barcodes</a></li>
                            <li><a href='@Url.Action("Index","Stock")'>Stock</a></li>
                            <li><a href='@Url.Action("Index","Customer")'>Customers</a></li>
                            <li><a href='@Url.Action("Index","Bill")'>Bills</a></li>
                            <li><a href='@Url.Action("PoImport","SalesOrder")'>PO Import From Excel</a></li>
                          
                        </ul>
                    </li>
                    <li>
                        <a class="collapse-link" title="Collapse"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @using (Html.BeginForm("Index", "SalesOrder", FormMethod.Post, new { @class = "", @id = "invoiceSearchForm" }))
{
    <div class="col-lg-1 paddingReduce">

        @Html.DropDownListFor(model => model.PageSize, new SelectList(new Dictionary<string, int> { { "50", 50 }, { "100", 100 }, { "500", 500 } }, "Key", "Value", null), new { @class = "pageSizeDropdown", id = "pagesizelist" })


    </div>
    <div class="col-lg-4 form-inline paddingReduce">
        <div class="col-md-5 input-group " style="">
            @Html.TextBoxFor(model => model.OrderDateFrom, string.Format("{0:dd-MM-yyyy}", DateTime.Now), new { @class = "form-control input-sm rfwDatepicker", })
            <span class="input-group-addon rfwDatepickerIcon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        <i class="fa fa-minus fa-fw"></i>
        <div class="col-md-5 input-group " style="">
            @Html.TextBoxFor(model => model.OrderDateTo, string.Format("{0:dd-MM-yyyy}", DateTime.Now), new { @class = "form-control input-sm rfwDatepicker", })
            <span class="input-group-addon rfwDatepickerIcon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>

    </div>
    <div class="col-lg-2 paddingReduce">
        @Html.TextBox("OrderNo", null, new { @class = "form-control input-sm", @placeholder = "Order Number" })
    </div>

    <div class="col-lg-2 paddingReduce">
        @Html.DropDownList("CustomerId", null, "Select Customer..", new { @class = "form-control input-sm", })

    </div>

                               <div class="col-lg-2 paddingReduce">
                                @Html.DropDownListFor(model => model.Status, new SelectList(new List<SelectListItem>
                                {
                                    new SelectListItem {Text = "Pending", Value = "1"},
                                    new SelectListItem {Text = "Delivered", Value = "2"},
                                }, "Value", "Text", null), null, new { @class = "form-control input-sm" })

                            </div>

                                <div class="col-lg-1">
                                    <button type="submit" class="btn btn-sm btn-success">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>


                                </div>
                            }
                        </div>

                    </div>

                    <table class="table table-striped table-condensed table-responsive jambo_table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SalesOrders.First().OrderDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SalesOrders.First().OrderNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SalesOrders.First().TotalQuantity)
                                </th>
                                <th>
                                    @Html.DisplayName("Net Total")
                                </th>

                                <th>
                                    @Html.DisplayName("Discount")
                                </th>
                                <th>
                                    @Html.DisplayName("Total")
                                </th>


                                <th>
                                    @Html.DisplayName("Customer")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SalesOrders.First().Status)
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead><tbody>
    @foreach (var item in Model.SalesOrders)
    {
        //var account = BankAccountController.AllAccountByMode(item.TransactionMode).FirstOrDefault(a => a.Id == item.TransactionModeId);
        var discount = BankAccountController.DiscountCalculator(item.DiscountAmount, item.DiscountType, item.TotalPrice);

        <tr>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td class="col-md-2">
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.TotalQuantity)
            </td>
            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>

            <td class="col-md-2">
                @discount.DiscountValueShow
            </td>

            <td class="col-md-1">
                @{ var total = (item.TotalPrice - discount.DiscountValue) + item.TotalVat;}
                @total
            </td>

            <td class="col-md-1">
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>
            <td class="col-md-1">
                @{ byte sts = item.Status ?? 1;}
                @statusDict[sts]
            </td>
            <td class="col-md-2">
                @if ((User.IsInRole("Global_SupAdmin") || User.IsInRole("SalesOrder_Edit")) && item.Status==1)
                {
                    @Html.ActionLink(" ", "EditSalesOrder", "SalesOrder", new { Id = item.SalesOrderId }, new { @class = "btn btn-xxs btn-primary fa fa-pencil", @title = "Edit" })
                }

                @Html.ActionLink(" ", "SalesOrderDetails", "SalesOrder", new { id = item.SalesOrderId }, new { @class = "btn btn-xxs btn-info fa fa-search-plus", @title = "Details" })
                @if ((User.IsInRole("Global_SupAdmin") || User.IsInRole("SalesOrder_Edit") || User.IsInRole("Sales_Create")|| User.IsInRole("Sales_Edit")) && item.Status == 1)
                {
                    @Html.ActionLink(" ", "OrderToSales", "SalesOrder", new {orderId = item.SalesOrderId}, new {@class = "btn btn-xxs btn-success fa fa-external-link", @title = "Order To Sales"})
                }
                     </td>
        </tr>
    }
</tbody>

                    </table>
                    Page @(Model.SalesOrders.PageCount < Model.SalesOrders.PageNumber ? 0 : Model.SalesOrders.PageNumber) of @Model.SalesOrders.PageCount
                    @Html.PagedListPager(Model.SalesOrders, Page => Url.Action("Index", "SalesOrder", new RouteValueDictionary() { { "Page", Page }, { "PageSize", Model.PageSize }, { "OrderNo", Model.OrderNo }, { "OrderDateFrom", Model.OrderDateFrom }, { "OrderDateTo", Model.OrderDateTo },  { "CustomerId", Model.CustomerId } }))

                </div>

            </div></div></div>

            @section Scripts {
                <script>
                    $(document).ready(function () {

                        $('#pagesizelist').change(function () {
                            $('#invoiceSearchForm').submit();
                        });
                    });
                    function removeThis(obj, paramData) {
                        var url = '@Url.Action("DeleteRecord", "purchase")';
                        deleteRow(obj, url, paramData);
                    }
                </script>
            }
            @*//=======================================================================================//
                //Author : Md. Mahid Choudhury
                //Creation Date : January 2017
                //=======================================================================================//*@
